<!DOCTYPE html>
<html>
<head>
    <title>Edición Exitosa</title>
</head>
<body>
    <h1>Edición Exitosa</h1>

    <h2>Cliente Editado:</h2>
    <p>Horario: {{ cliente['horario'] }}</p>
    <p>Nombre: {{ cliente['nombre'] }}</p>
    <p>Cantidad: {{ cliente['cantidad'] }}</p>
    <p>Teléfono: {{ cliente['telefono'] }}</p>
    <p>Status: {{ cliente['status'] }}</p>

    <h2>Fecha Asociada:</h2>
    <p>Nombre de la Fecha: {{ fecha_nombre }}</p>

    <a href="/">Volver a la lista de fechas</a>
</body>
</html>
