<!DOCTYPE html>
<html>
<head>
    <title>Éxito</title>
</head>
<body>
    <h1>Cliente agregado exitosamente</h1>
    <p>Cliente {{ cliente['nombre'] }} insertado correctamente en la fecha {{ fecha_nombre }}.</p>
    <ul>
        <li><strong>Horario:</strong> {{ cliente['horario'] }}</li>
        <li><strong>Nombre:</strong> {{ cliente['nombre'] }}</li>
        <li><strong>Cantidad:</strong> {{ cliente['cantidad'] }}</li>
        <li><strong>Teléfono:</strong> {{ cliente['telefono'] }}</li>
        <li><strong>Status:</strong> {{ cliente['status'] }}</li>
    </ul>

    <a href="/">Volver a la tabla de clientes</a>
</body>
</html>
